.appContainer {
  display: flexbox;
  grid-template-rows: 80% 20%;
  height: 100vh;
  width: 100%;
  padding: 0rem 2rem 0rem 2rem;
  overflow: hidden;
}
.taskSection {
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 10;
}
.taskContainer {
  position: relative;
  height: 70vh;
  width: 100%;
  padding: 2rem;
  background-image: url("../assets/tasks_background.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
}
.formContainer {
  height: 70vh;
  width: 100%;
  padding: 2rem;
  background-image: url("../assets/forms_background.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
  position: relative;
}
.flowerContainer {
  height: 20vh;
  background-position: fixed;
  background-image: url("../assets/flowers_background.svg");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}
.taskList {
  max-height: 60%;
  overflow-y: auto;
}
.subtaskList.details {
  max-height: 30vh;
  overflow-y: auto;
}
.subtaskList.add {
  max-height: 20vh;
  overflow-y: auto;
}