body {
  font-family: "Courier New", Courier, monospace;
  margin: auto;
  width: 100%;
  height: 100%;
}

p {
  white-space: pre-line;
}

.label_title {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.titleHeader {
  margin: 1rem;
  font-size: 10rem;
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='36' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
select:disabled {
  background-image: none;
}

.loading-cursor {
  cursor: wait;
}

.task {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: #228bec;
}

.task-overdue {
  color: red;
  font-weight: bold;
}

.subtask-item {
  margin-bottom: 1rem;
}

/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed #228bec;
  outline-offset: 0;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background-color: white;

  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
  color: black;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
  }
}
.form-group > input[type="text"] {
  display: flex;
  margin-top: 0.4rem;
}

.label-group {
  display: flex;
  justify-content: space-between;
}
.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.stack-large > * + * {
  margin-top: 2.5rem;
}
.stack-small > * + * {
  margin-top: 2.5rem;
}
@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1rem;
  }
  .stack-large > * + * {
    margin-top: 1rem;
  }
}
/* END GLOBAL STYLES */
.todoapp {
  background: #fff;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 550px) {
  .todoapp {
    padding: 4rem;
  }
}
.todoapp > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.todoapp > form {
  max-width: 100%;
}
.todoapp > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.input__lg {
  padding: 0.5rem;
  border: 2px solid rgb(199, 199, 199);
  background-color: transparent;
  height: 44px;
}
.input__lg:disabled {
  border: transparent;
}
.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}
.input__subtask {
  border: 2px solid black;
  border-radius: 1rem 0rem 0rem 1rem;
}
.input-group {
  display: flex;
  justify-content: space-between;
}
.input-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.input-container {
  display: flex;
}
[class*="__lg"] {
  display: inline-block;
  width: 100%;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}

/* Todo item styles */
.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo > * {
  flex: 0 0 100%;
}
.confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-dialog-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.hint-tasksize {
  color: blue;
  background: #228aec3a;
  font-size: 1.7rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0;
}
.hint-score {
  font-size: 1.7rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0;
  width: fit-content;
}
.hint-score.good {
  color: green;
  background: #d5f4db86;
}
.hint-score.bad {
  color: red;
  background: #f4d5d586;
}
.no-task-select {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%;
  color: #898eed;
}
.no-flowers {
  position: relative;
  top: 13vh;
  bottom: 2;
  color: green;
}
