/* CHECKBOX STYLES */
.c-cb {
    box-sizing: border-box;
    border-radius: 1rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 44px;
    max-width: 100vh;
    padding-left: 40px;
    clear: left;
    border: 2px solid #000;
    background-color: white;
  }
  .c-cb:hover {
    background-color: #dfe0f2;
    border: 2px solid #a5a9f1;
  }
  .c-cb.selected {
    background-color: #dfe0f2;
    border: 2px solid #a5a9f1;
  }
  .c-cb > label::before,
  .c-cb > input[type="checkbox"] {
    box-sizing: border-box;
    border-radius: 1rem;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
  }
  .c-cb > input[type="checkbox"] {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
  }
  .c-cb > label {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    display: inline-block;
    padding: 10px 15px 5px;
    justify-content: center;
    cursor: pointer;
    touch-action: manipulation;
  }
  .c-cb > label::before {
    content: "";
    position: absolute;
    border: 2px solid black;
    background: transparent;
  }

  .c-cb.has-subtasks > label::before {
    border: none;
  }
  .c-cb > input[type="checkbox"]:focus + label::before {
    border-width: 4px;
    outline: 3px dashed #228bec;
  }
  .c-cb > label::after {
    box-sizing: content-box;
    content: "";
    position: absolute;
    top: px;
    left: 9px;
    width: 18px;
    height: 7px;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
  }
  .c-cb > input[type="checkbox"]:checked + label::after {
    opacity: 1;
  }
  
  .c-cb > .task-label:first-of-type {
    flex-grow: 1;

    overflow: hidden;
    text-overflow: ellipsis;

  } 
  .c-cb > .task-label:last-of-type {
    margin-left: auto;
  }
  .c-cb > .task-label:after {
    margin-left: auto;
    top: 12px;
  }

  .prio-indicator {
    font-weight: bold;
    vertical-align: middle;
  }
  
  .prio-indicator.high{
    color: red;
  }
  .prio-indicator.middle{
    color: orange;
  }
  .prio-indicator.low{
    color: lightgreen;
  }